.loginButton {
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: backround-color 0.3s;
  padding: 10px 16px;
  margin-top: 20px;
}

.loginButton:hover {
  background-color: #45a049;
  color: greenyellow;
}

.loginForm {
  margin-left: 20px;
}
